# For a list of all functions, exported and hidden, see the files 
# PBSMobjects.txt and INDEX in the R libary directory for PBSmodelling.

#classes used in present talk - except they are only internally used
#exportClasses( text, file, code, break, section, talk ) 

exportClasses( PBSoptions )

# Export all functions that do NOT begin with a dot (period)
exportPattern("^[^\\.]")
#exportPattern("^[^\\*]")

# Import all functions from the package tcltk, which is heavily used by PBSmodelling
import(tcltk)
